[Desktop Entry]
Name=Boulder Relay
Comment=GTK4 IRC client for Fedora, RHEL, and Rocky Linux on Libera.Chat
Exec=boulder-relay
Icon=boulder-relay
Terminal=false
Type=Application
Categories=Network;Chat;GTK;
Keywords=IRC;Fedora;RHEL;Rocky;Libera;Chat;Rust;GTK;Development;
StartupNotify=true
StartupWMClass=Boulder Relay
